<div class="p-5">

    <div class="grid p-5">
        <form class="form-control" action="/posts/admin" method="POST">

            <div>
                <label class="form-label">Título: </label>
                <input type="text" name="titulo" class="form-control">
            </div>

            <div>
                <label class="form-label">Conteudo: </label>
                <textarea type="text" name="conteudo" class="form-control"></textarea>
            </div>

            <div class="container">
                <input type="submit" class="btn btn-primary" value="Salvar">
                <input type="reset" class="btn btn-warning" value="Limpar">
            </div>

        </form>
    </div>

    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Conteudo</th>
                <th>Alterar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{posts.titulo}}</td>
                <td>{{posts.conteudo}}</td>
                <td><a class="btn btn-warning" onClick="alterar({{posts.id}})">Alterar</a></td>
                <td><a class="btn btn-danger" onClick="excluir({{posts.id}})">Excluir</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
            }
        });
    });

    function excluir(id){
        /*
        previamente um alerta 
        */

        Swal.fire({
            title: "Aviso!",
            text: "Você realmente deseja excluir este post?",
            icon: "warning"
        });

    }

</script>


</div>